/*
 * @Author: Kristinita
 * @Date:   2017-03-23 09:42:24
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-03-23 10:42:14
 */
.Sasha404,
.Sasha404Description {
	text-align: center;
}
body {
	padding: 0;
}
a {
	color: #ffd700;
}
img {
/* Center slide:
	https://stackoverflow.com/a/34670755/5951529 */
	margin: auto;
	max-width: 96%;
}
.SashaPageLoading {
	box-shadow: none;
/*
	[INFO] Tracking will still:
	https://en.ryte.com/wiki/Tracking_Pixel
 */
	display: none;
}
.Sasha404 {
	margin-bottom: 2rem;
	font-size: 4rem;
	color: #ffa500;
	font-weight: bold;
	-webkit-text-stroke: 0.1rem #f00;
}
.Sasha404Description {
	margin-bottom: 2rem;
	font-size: 2rem;
	color: #f0fff0;
/* text-stroke — border around letters:
	https://ru.stackoverflow.com/q/196968/199934
	https://css-tricks.com/almanac/properties/t/text-stroke/
	https://caniuse.com/#feat=text-stroke
 */
	-webkit-text-stroke: 0.04rem;
}
.KiraSlider {
	margin-bottom: 2rem;
}
