/*
 * @Author: Kristinita
 * @Date:   2017-03-15 17:06:35
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-05-09 15:19:54
 */

/* Unverified For PurifyCSS
	========================================================================== */

div.animate-flicker span {
	color: Sasha-Wildfire-Foreground;
}

div.wf.wf-theme-dark a.wf-use-wildfire span,div.wf.wf-theme-dark a.wf-use-wildfire:hover span {
	color: Sasha-Wildfire-Foreground;
}

div.wf.wf-theme-dark a.wf-use-wildfire span,div.wf.wf-theme-dark a.wf-use-wildfire:hover span {
	color: Sasha-Wildfire-Foreground;
}

div.wf.wf-theme-dark > footer {
	border-top-color: Sasha-Wildfire-Foreground;
}

body {
	background: #f0f8ff;
	color: #b22222;
}

a {
	color: #00f;
}

a:hover {
	background-color: #eee8aa;
}

a:focus {
	background: #f0fff0;
}

em {
	color: Sasha-Em;
}

img {
	box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
	box-shadow: none;
}

kbd {
	color: #fff5ee;
	background: #6495ed;
}

.SashaBottomAside {
	color: #fff;
	bottom: 10%;
}

blockquote {
	border-left: solid #e6e6fa 0.5rem;
	color: #6a5acd;
	background: #fcfcfc;
}

code {
	background-color: #2f4f4f;
}

::selection {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

::selection:window-inactive {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

div .a2a_floating_style,div .a2a_default_style {
	background-color: Sasha-Add-To-Any;
}

.tooltipster-punk-purple .tooltipster-box {
	border-bottom: 0.1875rem solid #ffa500;
	background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
	border-bottom: 0.1875rem solid #ff69b4;
	background: #228b22;
}
