/*
* @Author: Kristinita
* @Date:   2017-03-15 14:41:30
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:21:15
*/


/* Unverified For PurifyCSS
   ========================================================================== */

body {
    background: #ffe4c4;
    color: #dc143c;
}

a {
    color: #c71585;
}

a:hover {
    background-color: #eee8aa;
}

a:focus {
    background: #f0fff0;
}

em {
    background-image: linear-gradient(to right, #008b8b, #7b68ee);
    -webkit-background-clip: text;
    color: transparent;
}

img {
    box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
    box-shadow: none;
}

kbd {
    color: #fff5ee;
    background: #6495ed;
}

.SashaBottomAside {
    color: #fff;
    bottom: 8%;
}

aside {
    background-image: url("https://kristinita.ru/theme/images/aside/SashaBrazil.jpg");
}

blockquote {
    border-left: solid #ff5a00 0.5rem;
    color: #333;
    background: #fcfcfc;
}

code {
    background-color: #2f4f4f;
}

.SashaDot {
    border-bottom: 0.0625rem dotted #000;
}

.SashaSpan {
    color: #dc143c;
    background-color: #ffe4c4;
}

::-moz-selection {
    color: #f08080;
    background: #ffe4b5;
}

::selection {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

::-moz-selection:window-inactive {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

::selection:window-inactive {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

.SashaEmNoColor {
    color: #dc143c;
}

.SashaSign {
    border: 1px solid #333;
    background: #f0f0f0;
}

.tooltipster-punk-purple .tooltipster-box {
    border-bottom: 3px solid #ffa500;
    background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
    border-bottom: 3px solid #ff69b4;
    background: #228b22;
}