/*
* @Author: Kristinita
* @Date:   2017-03-15 14:41:30
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:21:15
*/

/* Unverified For PurifyCSS
	========================================================================== */

body {
	background: #ffe4c4;
	color: #dc143c;
}

a {
	color: #c71585;
}

a:hover {
	background-color: #eee8aa;
}

a:focus {
	background: #f0fff0;
}

em {
	color: #008b8b;
}

img {
	-webkit-box-shadow: 0 0 2rem #000;
					box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
	-webkit-box-shadow: none;
					box-shadow: none;
}

kbd {
	color: #fff5ee;
	background: #6495ed;
}

.SashaBottomAside {
	color: #fff;
	bottom: 8%;
}

blockquote {
	border-left: solid #ff5a00 0.5rem;
	color: #333;
	background: #fcfcfc;
}

code {
	background-color: #2f4f4f;
}

::selection {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

::selection:window-inactive {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

.SashaEmNoColor {
	color: #dc143c;
}

div.a2a_floating_style {
	background-color: Sasha-Add-To-Any;
}

.tooltipster-punk-purple .tooltipster-box {
	border-bottom: 0.1875rem solid #ffa500;
	background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
	border-bottom: 0.1875rem solid #ff69b4;
	background: #228b22;
}
