/*
 * @Author: Kristinita
 * @Date:   2017-03-15 14:41:30
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-05-09 15:21:15
 */
/* Unverified For PurifyCSS
	========================================================================== */
body {
	background: #ffe4c4;
	color: #c41e3a;
}
a {
	color: #c71585;
}
a:hover {
	background-color: #d8bfd8;
}
a:focus {
	background: #f0fff0;
}
em {
	color: #556b2f;
}
img {
	box-shadow: 0 0 2rem #000;
}
.SashaPageLoading {
	box-shadow: none;
/*
	[INFO] Tracking will still:
	https://en.ryte.com/wiki/Tracking_Pixel
 */
	display: none;
}
kbd {
	color: #fffff0;
	background: #5f9ea0;
}
hr {
	color: #c71585;
}
td,
th {
	border: 0.0625rem solid #c41e3a;
}
.SashaBottomAside {
	color: #fff;
	bottom: 8%;
}
blockquote {
	border-left: solid #ff5a00 0.5rem;
	color: #333;
	background: #fcfcfc;
}
blockquote >p >em {
	color: #556b2f;
}
.SashaBlockquote {
	border-color: #7b68ee;
	background-color: #ffdab9;
	color: #191970;
}
::selection {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}
.KiraGRights {
	color: #00008b;
	background: #fa8072;
}
/* csslint ignore:start */
div.a2a_floating_style {
	background-color: #deb887;
}
/* csslint ignore:end */
/* csslint ignore:start */
div.animate-flicker span {
	color: #639;
}
div.ivu-modal-body div.ivu-tabs-tabpane div.wf-meta,
div.ivu-modal-body .ivu-btn.ivu-btn-text.ivu-btn-small,
div.ivu-modal-body div.wf-buttons .ivu-btn.ivu-btn-text {
	color: #a52a2a;
}
div.wf.wf-theme-dark :not(.v-transfer-dom) a,
div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,
div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,
div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,
div.wf.wf-theme-dark .ivu-btn-text,
div.wf.wf-theme-dark .ivu-btn-text:hover,
div.wf.wf-theme-dark .ivu-input::placeholder,
div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,
div.wf.wf-theme-dark .ivu-menu-item-selected span,
div.wf.wf-theme-dark a.wf-use-wildfire span,
div.wf.wf-theme-dark a.wf-use-wildfire:hover span,
div.wf.wf-theme-dark .wf-separator,
div.wf.wf-theme-dark .wf-no-content-tip,
div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,
div.wf.wf-theme-dark .ivu-input-wrapper textarea.ivu-input,
div.wf.wf-theme-dark .wf-comment-content,
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text,
div.wf.wf-theme-dark .ivu-menu {
	color: #639;
}
div.wf.wf-theme-dark .wf-use-wildfire svg path,
div.wf.wf-theme-dark .wf-use-wildfire:hover svg path {
	fill: #639;
}
div.wf.wf-theme-dark .ivu-menu-horizontal.ivu-menu-light::after {
	background-color: #639;
}
div.wf.wf-theme-dark > footer {
	border-top-color: #639;
}
div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active:hover {
	border-bottom-color: #639;
}
div.wf.wf-theme-dark input.ivu-input::placeholder {
	color: #696969;
}
div.wf.wf-theme-dark .ivu-icon-heart-broken {
	color: #ffa07a;
}
div.wf.wf-theme-dark .ivu-icon-heart {
	color: #ffd700;
}
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover {
	background-color: #ffe4e1;
}
div.wf.wf-theme-dark .wf-post-btn[disabled],
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .ivu-btn-primary[disabled] {
	border-color: #639;
}
div.wf.wf-theme-dark .wf-tip {
	font-size: 0.7rem;
}
/* csslint ignore:end */
