body {
	background: #87e1be;
	color: #465550;
}
a {
	color: #ca320b;
}
a:hover {
	background-color: rgba(240,128,128,0.6);
}
a:focus {
	background: #f5f5f5;
}
em {
	color: #0d43e4;
}
img {
	box-shadow: 0 0 2rem #000;
}
.SashaNoShadowsImage {
	box-shadow: none;
	min-width: 2rem;
}
.SashaPageLoading {
	box-shadow: none;
/*
	[INFO] Tracking will still:
	https://en.ryte.com/wiki/Tracking_Pixel
 */
	display: none;
}
kbd {
	color: #eee8aa;
	background: #2e8b57;
}
hr {
	color: #c71585;
}
td,
th {
	border-color: #465550;
}
.SashaBottomAside {
	color: #fff;
	bottom: 8%;
}
blockquote {
	border-left: solid #db7093 0.5rem;
	color: #000080;
	background: #fcfcfc;
}
blockquote >p >em {
	color: #0d43e4;
}
blockquote >p >a {
	color: Sasha-Blockquote-Link;
}
.SashaBlockquote {
	border-color: #7b68ee;
	background-color: #ffdab9;
	color: #191970;
}
.SashaBlockquote >p >em {
	color: Sasha-Term-Blockquote-Em;
}
.SashaBlockquote >p >a {
	color: Sasha-Term-Blockquote-Link;
}
.SashaCitation {
	color: #fa8072;
}
.SashaEpigraph {
	color: #ffdc33;
}
.SashaEpigraph >.SashaEpigraphAuthor {
	color: #ffb6c1;
}
.SashaEpigraph >em {
	color: #ffdc33;
}
.SashaGingerinasExample {
	background-color: #d0f0c0;
	color: Sasha-Gingerinas-Example-Foreground;
}
::selection {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}
/* csslint ignore:start */
div.a2a_floating_style {
	background-color: #9370db;
}
/* csslint ignore:end */
/* csslint ignore:start */
div.animate-flicker span {
	color: #465550;
}
div.ivu-modal-body div.ivu-tabs-tabpane div.wf-meta,
div.ivu-modal-body .ivu-btn.ivu-btn-text.ivu-btn-small,
div.ivu-modal-body div.wf-buttons .ivu-btn.ivu-btn-text {
	color: #a52a2a;
}
div.wf.wf-theme-dark :not(.v-transfer-dom) a,
div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,
div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,
div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,
div.wf.wf-theme-dark .ivu-btn-text,
div.wf.wf-theme-dark .ivu-btn-text:hover,
div.wf.wf-theme-dark .ivu-input::placeholder,
div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,
div.wf.wf-theme-dark .ivu-menu-item-selected span,
div.wf.wf-theme-dark a.wf-use-wildfire span,
div.wf.wf-theme-dark a.wf-use-wildfire:hover span,
div.wf.wf-theme-dark .wf-separator,
div.wf.wf-theme-dark .wf-no-content-tip,
div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,
div.wf.wf-theme-dark .ivu-input-wrapper textarea.ivu-input,
div.wf.wf-theme-dark .wf-comment-content,
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text,
div.wf.wf-theme-dark .ivu-menu {
	color: #465550;
}
div.wf.wf-theme-dark .wf-use-wildfire svg path,
div.wf.wf-theme-dark .wf-use-wildfire:hover svg path {
	fill: #465550;
}
div.wf.wf-theme-dark .ivu-menu-horizontal.ivu-menu-light::after {
	background-color: #465550;
}
div.wf.wf-theme-dark > footer {
	border-top-color: #465550;
}
div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active:hover {
	border-bottom-color: #465550;
}
div.wf.wf-theme-dark input.ivu-input::placeholder {
	color: #696969;
}
div.wf.wf-theme-dark .ivu-icon-heart-broken {
	color: #008080;
}
div.wf.wf-theme-dark .ivu-icon-heart {
	color: #b22222;
}
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover {
	background-color: rgba(255,255,255,0.2);
}
div.wf.wf-theme-dark .wf-post-btn[disabled],
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .ivu-btn-primary[disabled] {
	border-color: #465550;
}
div.wf.wf-theme-dark .wf-tip {
	font-size: 0.7rem;
}
/* csslint ignore:end */
.SashaInlineHighlight,
.SashaBlockHighlight {
	background-color: #e7e9db;
	color: #b22222;
}
.SashaInlineHighlight .c,
.SashaBlockHighlight .c {
	background-color: #e7e9db;
	font-style: italic;
	color: #8d8687;
}
.SashaInlineHighlight .err,
.SashaBlockHighlight .err {
	color: #ef6155;
}
.SashaInlineHighlight .g,
.SashaBlockHighlight .g {
	color: #fff;
}
.SashaInlineHighlight .k,
.SashaBlockHighlight .k {
	color: #815ba4;
	font-weight: bold;
}
.SashaInlineHighlight .l,
.SashaBlockHighlight .l {
	color: #f99b15;
}
.SashaInlineHighlight .n,
.SashaBlockHighlight .n {
	color: #cd5c5c;
}
.SashaInlineHighlight .o,
.SashaBlockHighlight .o {
	color: #5bc4bf;
}
.SashaInlineHighlight .x,
.SashaBlockHighlight .x {
	color: #fff;
}
.SashaInlineHighlight .p,
.SashaBlockHighlight .p {
	color: #2f1e2e;
}
.SashaInlineHighlight .ch,
.SashaBlockHighlight .ch {
	color: #008000;
	background-color: #e7e9db;
	font-style: italic;
}
.SashaInlineHighlight .c1,
.SashaBlockHighlight .c1 {
	color: #789;
	background-color: #e7e9db;
	font-style: italic;
}
.SashaInlineHighlight .go,
.SashaBlockHighlight .go {
	color: #444;
	background-color: #e7e9db;
}
.SashaInlineHighlight .gt,
.SashaBlockHighlight .gt {
	color: #fff;
}
.SashaInlineHighlight .kc,
.SashaBlockHighlight .kc {
	color: #815ba4;
	font-weight: bold;
}
.SashaInlineHighlight .kn,
.SashaBlockHighlight .kn {
	color: #5bc4bf;
	font-weight: bold;
}
.SashaInlineHighlight .ld,
.SashaBlockHighlight .ld {
	color: #48b685;
}
.SashaInlineHighlight .m,
.SashaBlockHighlight .m {
	color: #f99b15;
	font-weight: bold;
}
.SashaInlineHighlight .s,
.SashaBlockHighlight .s {
	color: #48b685;
}
.SashaInlineHighlight .na,
.SashaBlockHighlight .na {
	color: #06b6ef;
	font-weight: bold;
}
.SashaInlineHighlight .nb,
.SashaBlockHighlight .nb {
	color: #2f1e2e;
}
.SashaInlineHighlight .no,
.SashaBlockHighlight .no {
	color: #ef6155;
}
.SashaInlineHighlight .nl,
.SashaBlockHighlight .nl {
	color: #2f1e2e;
}
.SashaInlineHighlight .nn,
.SashaBlockHighlight .nn {
	color: #ff8c00;
}
.SashaInlineHighlight .py,
.SashaBlockHighlight .py {
	color: #2f1e2e;
}
.SashaInlineHighlight .nt,
.SashaBlockHighlight .nt {
	color: #5bc4bf;
	font-weight: bold;
}
.SashaInlineHighlight .nv,
.SashaBlockHighlight .nv {
	color: #ef6155;
}
.SashaInlineHighlight .ow,
.SashaBlockHighlight .ow {
	color: #5bc4bf;
}
.SashaInlineHighlight .w,
.SashaBlockHighlight .w {
	color: #2f1e2e;
}
.SashaInlineHighlight .mi,
.SashaBlockHighlight .mi {
	color: #f99b15;
	font-weight: bold;
}
.SashaInlineHighlight .sa,
.SashaBlockHighlight .sa {
	color: #87ceeb;
}
.SashaInlineHighlight .s2,
.SashaBlockHighlight .s2 {
	color: #48b685;
}
.SashaInlineHighlight .se,
.SashaBlockHighlight .se {
	color: #f99b15;
}
.SashaInlineHighlight .sh,
.SashaBlockHighlight .sh {
	color: #48b685;
}
.SashaInlineHighlight .si,
.SashaBlockHighlight .si {
	color: #f99b15;
}
.SashaInlineHighlight .s1,
.SashaBlockHighlight .s1 {
	color: #48b685;
}
.SashaInlineHighlight .il,
.SashaBlockHighlight .il {
	color: #f99b15;
	font-weight: bold;
}
