/* @Author: Kristinita
 * @Date:   2016-11-25 10:51:23
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-05-02 18:46:12
 */

.SashaKristinita,.SashaBeta,.SashaCopyright,.SashaVKontakte {
	display: inline;
}

body {
	padding-right: 0;
	background-color: #ffefd5;
	color: #c71585;
}

a {
	text-decoration: none;
}

html {
	overflow-x: hidden;
}

/* Gemini
	========================================================================== */

img {
	max-width: 100%;
}

/* Buttons */

.Sasha {
	font: 1.6875rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	float: right;
	padding: 0.6875rem 2rem;
	text-align: center;
	text-decoration: none;
	color: #ff8c00;
	border: solid 0.25rem #ffb6c1;
	border-radius: 0.875rem;
	background-color: #ffe4e1;
	/* To bottom instead of top for Autoprefixer — https://github.com/postcss/autoprefixer/issues/530#issuecomment-143785816 */
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Sasha:hover {
	font: 2.25rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding: 0.6875rem 2rem;
	color: #ff8c00;
	border: solid 0.25rem #ffb6c1;
	border-radius: 0.875rem;
	background-color: #ffe4e1;
	background-position: 0 -2rem;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Sasha:active {
	font: 2.25rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding: 0.6875rem 2rem;
	color: #ee82ee;
	border: solid 0.25rem #ffb6c1;
	border-radius: 0.875rem;
	background-color: #ffe4e1;
	background-position: 0 -4rem;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Chernykh {
	font: 1.6875rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	float: right;
	padding: 0.6875rem 2rem;
	text-align: center;
	text-decoration: none;
	color: #ff8c00;
	border: solid 0.25rem #ffe4c4;
	border-radius: 0.875rem;
	background-color: #fdf5e6;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Chernykh:hover {
	font: 2.25rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding: 0.6875rem 2rem;
	color: #ff8c00;
	border: solid 0.25rem #ffe4c4;
	border-radius: 0.875rem;
	background-color: #f5fffa;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Chernykh:active {
	font: 2.25rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding: 0.6875rem 2rem;
	color: #add8e6;
	border: solid 0.25rem #ffe4c4;
	border-radius: 0.875rem;
	background-color: #f5fffa;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Empress {
	font: 1.6875rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	float: right;
	padding: 0.6875rem 2rem;
	text-align: center;
	text-decoration: none;
	color: #ff8c00;
	border: solid 0.25rem #ba55d8;
	border-radius: 0.875rem;
	background-color: #dda0dd;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Empress:hover {
	font: 2.25rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding: 0.6875rem 2rem;
	color: #ff8c00;
	border: solid 0.25rem #ba55d8;
	border-radius: 0.875rem;
	background-color: #ee82ee;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.Empress:active {
	font: 2.25rem Tahoma, Geneva, sans-serif;
	font-weight: bold;
	padding: 0.6875rem 2rem;
	color: #ffc0cb;
	border: solid 0.25rem #ba55d8;
	border-radius: 0.875rem;
	background-color: #ee82ee;
	box-shadow: 0 0 0.125rem #bababa, inset 0 0 0.0625rem #fff;
}

.SashaMotto {
	font-family: "Cormorant";
	font-size: 2.5rem;
	text-align: center;
	color: #7fff00;
}

.SashaMotto:hover {
	text-shadow: 0 0 0.625rem #fff, 0 0 1.25rem #fff, 0 0 1.875rem #fff, 0 0 2.5rem #ffefd5, 0 0 4.375rem #ffefd5, 0 0 5rem #ffefd5, 0 0 6.25rem #ffefd5;
}

/* Подвал в head */

.SashaBowserExplorer,.SashaBowserFirefox {
	position: relative;
	float: left;
	text-align: left;
	vertical-align: 6rem;
	bottom: 0;
	/* Фиксированное положение */
	right: 0;
	/* Цвет текста */
	width: 100%;
	/* Левый нижний угол */
	margin: 0.875rem;
	/* Поля вокруг текста */
	/* Ширина слоя */
	font-size: 1.2rem;
	font-weight: bold;
	color: #afeeee;
}

/* Выравнивание по центру*/

.SashaCenter {
	text-align: center;
	/* Отступ от нижнего элемента, чтобы заменить множество br, см. http://ru.stackoverflow.com/a/523379/199934 */
	margin: 21rem 0 0;
}

/* Надпись Поиск Кристиниты*/

.SashaKristinita {
	font-size: 3rem;
	font-style: italic;
	letter-spacing: 0.125rem;
	color: #ff8c00;
	text-shadow: 0 0.0625rem 0 #ffa500, 0 0.125rem 0 #ffa500, 0 0.1875rem 0 #ffd700, 0 0.25rem 0 #ffae42, 0 0.3125rem 0 #ffefd5, 0 0.375rem 0.0625rem rgba(0,0,0,0.1), 0 0 0.3125rem rgba(0,0,0,0.1), 0 0.0625rem 0.1875rem rgba(0,0,0,0.3), 0 0.1875rem 0.3125rem rgba(0,0,0,0.2), 0 0.3125rem 0.625rem rgba(0,0,0,0.25), 0 0.625rem 0.625rem rgba(0,0,0,0.2), 0 1.25rem 1.25rem rgba(0,0,0,0.15);
}

/* Надпись beta */

.SashaBeta {
	font-size: 2.5rem;
	font-style: italic;
	color: #ff8c00;
}

/* Надпись «Минималистская версия*/

/* Надпись копирайта */

.SashaCopyright {
	font-family: "Palatino Linotype", Geneva, sans-serif;
	font-weight: bold;
	color: #ffd700;
}

/* Ссылка на Божий профиль ВКонтакте */

.SashaVKontakte {
	color: #ffd700;
}

/* Сашин логотип */

/* https://www.w3schools.com/tags/att_img_align.asp */
