body {
    background: #a0522d;
    color: #ffc0cb;
}

a {
    color: #ee82ee;
}

a:hover {
    background-color: rgba(240, 128, 128, 0.467);
}

a:focus {
    background: #f5f5f5;
}

em {
    background-image: linear-gradient(to right, #ff0, #f00);
    -webkit-background-clip: text;
    color: transparent;
}

img {
    box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
    box-shadow: none;
}

kbd {
    color: #ffc0cb;
    background: #800000;
}

td,
th {
    border: 0.0625rem solid #ffc0cb;
}

.SashaBottomAside {
    color: #fff;
    bottom: 4%;
}

aside {
    background-image: url("https://i.imgur.com/ibJUK9X.jpg");
}

code {
    background-color: #2f4f4f;
}

pre >code {
    background-color: #000;
}

::-moz-selection {
    color: #f08080;
    background: #ffe4b5;
}

::selection {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

::-moz-selection:window-inactive {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

::selection:window-inactive {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

.SashaEmNoColor {
    color: #ffc0cb;
}

.tooltipster-punk-purple .tooltipster-box {
    border-bottom: 3px solid #ffa500;
    background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
    border-bottom: 3px solid #ff69b4;
    background: #228b22;
}

.SashaInlineHighlight,
.SashaBlockHighlight {
    background-color: #5e3b47;
    color: #fff;
}

.SashaInlineHighlight .c,
.SashaBlockHighlight .c {
    background-color: #0f140f;
    font-style: italic;
    color: #008000;
}

.SashaInlineHighlight .g,
.SashaBlockHighlight .g {
    color: #fff;
}

.SashaInlineHighlight .k,
.SashaBlockHighlight .k {
    color: #fb660a;
    font-weight: bold;
}

.SashaInlineHighlight .n,
.SashaBlockHighlight .n {
    color: #fff;
}

.SashaInlineHighlight .o,
.SashaBlockHighlight .o {
    color: #fff;
}

.SashaInlineHighlight .x,
.SashaBlockHighlight .x {
    color: #fff;
}

.SashaInlineHighlight .p,
.SashaBlockHighlight .p {
    color: #f4a460;
}

.SashaInlineHighlight .c1,
.SashaBlockHighlight .c1 {
    color: #008000;
    background-color: #0f140f;
    font-style: italic;
}

.SashaInlineHighlight .go,
.SashaBlockHighlight .go {
    color: #444;
    background-color: #222;
}

.SashaInlineHighlight .gp,
.SashaBlockHighlight .gp {
    color: #dc143c;
}

.SashaInlineHighlight .gt,
.SashaBlockHighlight .gt {
    color: #fff;
}

.SashaInlineHighlight .kn,
.SashaBlockHighlight .kn {
    color: #fb660a;
    font-weight: bold;
}

.SashaInlineHighlight .m,
.SashaBlockHighlight .m {
    color: #0086f7;
    font-weight: bold;
}

.SashaInlineHighlight .s,
.SashaBlockHighlight .s {
    color: #87ceeb;
}

.SashaInlineHighlight .no,
.SashaBlockHighlight .no {
    color: #87ceeb;
}

.SashaInlineHighlight .nn,
.SashaBlockHighlight .nn {
    color: #fff;
}

.SashaInlineHighlight .nt,
.SashaBlockHighlight .nt {
    color: #fb660a;
    font-weight: #fb660a;
}

.SashaInlineHighlight .mi,
.SashaBlockHighlight .mi {
    color: #0086f7;
    font-weight: bold;
}

.SashaInlineHighlight .s2,
.SashaBlockHighlight .s2 {
    color: #87ceeb;
}

.SashaInlineHighlight .s1,
.SashaBlockHighlight .s1 {
    color: #87ceeb;
}