/* @Author: Kristinita
* @Date:   2016-11-25 10:51:23
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-02 18:46:12
*/


/* For correct Gemini display in body tag */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding-right: 0;
    background: url("../../images/backgrounds/Бэкграунд-Красные-листья.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #ffefd5;
    color: #c71585;
}

a {
    text-decoration: none;
}

html {
    overflow-x: hidden;
}


/* Inline displaying some div classes */

.SashaKristinita,
.SashaBeta,
.SashaMinimal,
.SashaCopyright,
.SashaVKontakte {
    display: inline;
}


/* Gemini
   ========================================================================== */


/* Don't show scrollbar */

.gm-scrollbar {
    display: none;
}

@media screen and (max-width: 1600px) {
    div.for-example {
        width: 1500px;
    }
}

@media screen and (max-width: 1280px) {
    div.for-example {
        width: 1100px;
    }
}

@media screen and (max-width: 1024px) {
    div.for-example {
        width: 980px;
    }
}

img {
    max-width: 100%;
}


/* Кнопки */

.Sasha {
    font: 27px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    float: right;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    color: #ff8c00;
    border: solid 4px #ffb6c1;
    border-radius: 14px;
    background-color: #ffe4e1;
    /* To bottom instead of top for Autoprefixer — https://github.com/postcss/autoprefixer/issues/530#issuecomment-143785816 */
    background-image: linear-gradient(to bottom, #ffe4e1 0%, #ffc0cb 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Sasha:hover {
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 11px 32px;
    color: #ff8c00;
    border: solid 4px #ffb6c1;
    border-radius: 14px;
    background-color: #ffe4e1;
    background-image: linear-gradient(to bottom, #ffe4e1 0%, #ffc0cb 100%);
    background-position: 0 -32px;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Sasha:active {
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 11px 32px;
    color: #ee82ee;
    border: solid 4px #ffb6c1;
    border-radius: 14px;
    background-color: #ffe4e1;
    background-image: linear-gradient(to bottom, #ffe4e1 0%, #ffc0cb 100%);
    background-position: 0 -64px;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Chernykh {
    font: 27px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    float: right;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    color: #ff8c00;
    border: solid 4px #ffe4c4;
    border-radius: 14px;
    background-color: #fdf5e6;
    background-image: linear-gradient(to bottom, #f5fffa 0%, #f0f8ff 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Chernykh:hover {
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 11px 32px;
    color: #ff8c00;
    border: solid 4px #ffe4c4;
    border-radius: 14px;
    background-color: #f5fffa;
    background-image: linear-gradient(to bottom, #f5fffa 0%, #f0f8ff 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Chernykh:active {
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 11px 32px;
    color: #add8e6;
    border: solid 4px #ffe4c4;
    border-radius: 14px;
    background-color: #f5fffa;
    background-image: linear-gradient(to bottom, #f5fffa 0%, #f0f8ff 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Empress {
    font: 27px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    float: right;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    color: #ff8c00;
    border: solid 4px #ba55d8;
    border-radius: 14px;
    background-color: #dda0dd;
    background-image: linear-gradient(to bottom, #ee82ee 0%, #da70d6 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Empress:hover {
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 11px 32px;
    color: #ff8c00;
    border: solid 4px #ba55d8;
    border-radius: 14px;
    background-color: #ee82ee;
    background-image: linear-gradient(to bottom, #ee82ee 0%, #da70d6 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.Empress:active {
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 11px 32px;
    color: #ffc0cb;
    border: solid 4px #ba55d8;
    border-radius: 14px;
    background-color: #ee82ee;
    background-image: linear-gradient(to bottom, #ee82ee 0%, #da70d6 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
}

.SashaMotto {
    font-family: 'Cormorant';
    font-size: 40px;
    text-align: center;
    color: #7fff00;
}

.SashaMotto:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffefd5, 0 0 70px #ffefd5, 0 0 80px #ffefd5, 0 0 100px #ffefd5;
}


/* Подвал в head */

.SashaFooter {
    position: relative;
    float: left;
    text-align: left;
    bottom: 0;
    /* Фиксированное положение */
    left: 0;
    /* Цвет текста */
    width: 100%;
    /* Левый нижний угол */
    margin: 14px;
    /* Поля вокруг текста */
    /* Ширина слоя */
    font-size: 1.2rem;
    font-weight: bold;
    color: #afeeee;
}

.SashaBowserExplorer,
.SashaBowserFirefox {
    position: relative;
    float: left;
    text-align: left;
    vertical-align: 6em;
    bottom: 0;
    /* Фиксированное положение */
    right: 0;
    /* Цвет текста */
    width: 100%;
    /* Левый нижний угол */
    margin: 14px;
    /* Поля вокруг текста */
    /* Ширина слоя */
    font-size: 1.2rem;
    font-weight: bold;
    color: #afeeee;
}


/* Выравнивание по центру*/

.SashaCenter {
    text-align: center;
    /* Отступ от нижнего элемента, чтобы заменить множество br, см. http://ru.stackoverflow.com/a/523379/199934 */
    margin: 21rem 0 0 0;
}


/* Надпись Поиск Кристиниты*/

.SashaKristinita {
    font-size: 3em;
    font-style: italic;
    letter-spacing: 2px;
    color: #ff8c00;
    text-shadow: 0 1px 0 #ffa500, 0 2px 0 #ffa500, 0 3px 0 #ffd700, 0 4px 0 #ffae42, 0 5px 0 #ffefd5, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}


/* Надпись beta */

.SashaBeta {
    font-size: 2.5em;
    font-style: italic;
    color: #ff8c00;
}


/* Надпись «Минималистская версия*/

.SashaMinimal {
    font-family: 'Palatino Linotype, Geneva, sans-serif';
    font-style: italic;
    font-weight: bold;
    color: #ffbf00;
}


/* Надпись копирайта */

.SashaCopyright {
    font-family: 'Palatino Linotype, Geneva, sans-serif';
    font-weight: bold;
    color: #ffd700;
}


/*Ссылка на Божий профиль ВКонтакте*/

.SashaVKontakte {
    color: #ffd700;
}


/*Сашин логотип*/


/* https://www.w3schools.com/tags/att_img_align.asp */

.SashaLogo {
    float: left;
    border: 0;
}