/* Unverified For PurifyCSS
	========================================================================== */

div.animate-flicker span {
	color: #ffebcd;
}

div.ivu-modal-body div.ivu-tabs-tabpane div.wf-meta,div.ivu-modal-body .ivu-btn.ivu-btn-text.ivu-btn-small,div.ivu-modal-body div.wf-buttons .ivu-btn.ivu-btn-text {
	color: #a52a2a;
}

div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,div.wf.wf-theme-dark .ivu-btn-primary[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,div.wf.wf-theme-dark .ivu-input::-moz-placeholder,div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,div.wf.wf-theme-dark a.wf-use-wildfire span,div.wf.wf-theme-dark a.wf-use-wildfire:hover span,div.wf.wf-theme-dark .ivu-btn-text,div.wf.wf-theme-dark .ivu-btn-text:hover,div.wf.wf-theme-dark .wf-separator,div.wf.wf-theme-dark .wf-no-content-tip,div.wf.wf-theme-dark :not(.v-transfer-dom) a,div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,div.wf.wf-theme-dark .ivu-menu-item-selected span,div.wf.wf-theme-dark .wf-comment-content,div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text,div.wf.wf-theme-dark .ivu-menu {
	color: #ffebcd;
}

div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,div.wf.wf-theme-dark .ivu-btn-primary[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,div.wf.wf-theme-dark .ivu-input::-ms-input-placeholder,div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,div.wf.wf-theme-dark a.wf-use-wildfire span,div.wf.wf-theme-dark a.wf-use-wildfire:hover span,div.wf.wf-theme-dark .ivu-btn-text,div.wf.wf-theme-dark .ivu-btn-text:hover,div.wf.wf-theme-dark .wf-separator,div.wf.wf-theme-dark .wf-no-content-tip,div.wf.wf-theme-dark :not(.v-transfer-dom) a,div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,div.wf.wf-theme-dark .ivu-menu-item-selected span,div.wf.wf-theme-dark .wf-comment-content,div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text,div.wf.wf-theme-dark .ivu-menu {
	color: #ffebcd;
}

div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,div.wf.wf-theme-dark .ivu-btn-primary[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,div.wf.wf-theme-dark .ivu-input::placeholder,div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,div.wf.wf-theme-dark a.wf-use-wildfire span,div.wf.wf-theme-dark a.wf-use-wildfire:hover span,div.wf.wf-theme-dark .ivu-btn-text,div.wf.wf-theme-dark .ivu-btn-text:hover,div.wf.wf-theme-dark .wf-separator,div.wf.wf-theme-dark .wf-no-content-tip,div.wf.wf-theme-dark :not(.v-transfer-dom) a,div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,div.wf.wf-theme-dark .ivu-menu-item-selected span,div.wf.wf-theme-dark .wf-comment-content,div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text,div.wf.wf-theme-dark .ivu-menu {
	color: #ffebcd;
}

div.wf.wf-theme-dark .wf-use-wildfire svg path,div.wf.wf-theme-dark .wf-use-wildfire:hover svg path {
	fill: #ffebcd;
}

div.wf.wf-theme-dark .ivu-menu-horizontal.ivu-menu-light::after {
	background-color: #ffebcd;
}

div.wf.wf-theme-dark > footer {
	border-top-color: #ffebcd;
}

div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active:hover {
	border-bottom-color: #ffebcd;
}

div.wf.wf-theme-dark input.ivu-input::-moz-placeholder {
	color: #696969;
}

div.wf.wf-theme-dark input.ivu-input::-ms-input-placeholder {
	color: #696969;
}

div.wf.wf-theme-dark input.ivu-input::placeholder {
	color: #696969;
}

div.wf.wf-theme-dark .ivu-icon-heart-broken {
	color: #ffa07a;
}

div.wf.wf-theme-dark .ivu-icon-heart {
	color: #ffd700;
}

div.wf.wf-theme-dark .ivu-btn-primary[disabled],div.wf.wf-theme-dark .wf-post-btn[disabled]:hover {
	background-color: #bc8f8f;
}

div.wf.wf-theme-dark .wf-post-btn[disabled],div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,div.wf.wf-theme-dark .ivu-btn-primary[disabled] {
	border-color: #ffebcd;
}

div.wf.wf-theme-dark .wf-tip {
	font-size: 0.7rem;
}

body {
	background: #a0522d;
	color: #ffc0cb;
}

a {
	color: #ee82ee;
}

a:hover {
	background-color: rgba(240,128,128,0.6);
}

a:focus {
	background: #f5f5f5;
}

em {
	color: #ffa500;
}

dfn {
	color: #db7093;
}

img {
	box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
	box-shadow: none;
}

kbd {
	color: #ffc0cb;
	background: #800000;
}

hr {
	color: #c71585;
}

td,th {
	border: 0.0625rem solid #ffc0cb;
}

.SashaBottomAside {
	color: #fff;
	bottom: 7%;
}

blockquote {
	border-left: solid #e6e6fa 0.5rem;
	color: #6a5acd;
	background: #fcfcfc;
}

.SashaEpigraph {
	color: #ffdc33;
}

.SashaEpigraph >.SashaEpigraphAuthor {
	color: #ffb6c1;
}

.SashaEpigraph >em {
	color: #ffdc33;
}

code {
	background-color: #2f4f4f;
}

pre >code {
	background-color: #000;
}

::-moz-selection {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

::selection {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

::-moz-selection:window-inactive {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

::selection:window-inactive {
	color: #f08080;
	background: rgba(255,228,181,0.99);
}

.progress {
	background-color: #a0522d;
}

.progress-bar {
	background-color: Sasha-Progress-Bar;
}

div .a2a_floating_style,div .a2a_default_style {
	background-color: #ffc0cb;
}

.tooltipster-punk-purple .tooltipster-box {
	border-bottom: 0.1875rem solid #ffa500;
	background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
	border-bottom: 0.1875rem solid #ff69b4;
	background: #228b22;
}

.SashaInlineHighlight,.SashaBlockHighlight {
	background-color: #5e3b47;
	color: #fff;
}

.SashaInlineHighlight .c,.SashaBlockHighlight .c {
	background-color: #0f140f;
	font-style: italic;
	color: #008000;
}

.SashaInlineHighlight .err,.SashaBlockHighlight .err {
	color: #fff;
}

.SashaInlineHighlight .esc,.SashaBlockHighlight .esc {
	color: #fff;
}

.SashaInlineHighlight .g,.SashaBlockHighlight .g {
	color: #fff;
}

.SashaInlineHighlight .k,.SashaBlockHighlight .k {
	color: #fb660a;
	font-weight: bold;
}

.SashaInlineHighlight .l,.SashaBlockHighlight .l {
	color: #fff;
}

.SashaInlineHighlight .n,.SashaBlockHighlight .n {
	color: #fff;
}

.SashaInlineHighlight .o,.SashaBlockHighlight .o {
	color: #fff;
}

.SashaInlineHighlight .x,.SashaBlockHighlight .x {
	color: #fff;
}

.SashaInlineHighlight .p,.SashaBlockHighlight .p {
	color: #f4a460;
}

.SashaInlineHighlight .c1,.SashaBlockHighlight .c1 {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}

.SashaInlineHighlight .cs,.SashaBlockHighlight .cs {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}

.SashaInlineHighlight .gh,.SashaBlockHighlight .gh {
	color: #fff;
	font-weight: bold;
}

.SashaInlineHighlight .go,.SashaBlockHighlight .go {
	color: #444;
	background-color: #222;
}

.SashaInlineHighlight .gp,.SashaBlockHighlight .gp {
	color: #dc143c;
}

.SashaInlineHighlight .gt,.SashaBlockHighlight .gt {
	color: #fff;
}

.SashaInlineHighlight .kc,.SashaBlockHighlight .kc {
	color: #fb660a;
	font-weight: bold;
}

.SashaInlineHighlight .kn,.SashaBlockHighlight .kn {
	color: #fb660a;
	font-weight: bold;
}

.SashaInlineHighlight .ld,.SashaBlockHighlight .ld {
	color: #fff;
}

.SashaInlineHighlight .m,.SashaBlockHighlight .m {
	color: #0086f7;
	font-weight: bold;
}

.SashaInlineHighlight .s,.SashaBlockHighlight .s {
	color: #87ceeb;
}

.SashaInlineHighlight .nb,.SashaBlockHighlight .nb {
	color: #fff;
}

.SashaInlineHighlight .nc,.SashaBlockHighlight .nc {
	color: #fff;
}

.SashaInlineHighlight .no,.SashaBlockHighlight .no {
	color: #87ceeb;
}

.SashaInlineHighlight .nl,.SashaBlockHighlight .nl {
	color: #fff;
}

.SashaInlineHighlight .nn,.SashaBlockHighlight .nn {
	color: #fff;
}

.SashaInlineHighlight .py,.SashaBlockHighlight .py {
	color: #fff;
}

.SashaInlineHighlight .nt,.SashaBlockHighlight .nt {
	color: #fb660a;
	font-weight: bold;
}

.SashaInlineHighlight .w,.SashaBlockHighlight .w {
	color: #888;
}

.SashaInlineHighlight .mf,.SashaBlockHighlight .mf {
	color: #0086f7;
	font-weight: bold;
}

.SashaInlineHighlight .mh,.SashaBlockHighlight .mh {
	color: #0086f7;
	font-weight: bold;
}

.SashaInlineHighlight .mi,.SashaBlockHighlight .mi {
	color: #0086f7;
	font-weight: bold;
}

.SashaInlineHighlight .sa,.SashaBlockHighlight .sa {
	color: #87ceeb;
}

.SashaInlineHighlight .s2,.SashaBlockHighlight .s2 {
	color: #87ceeb;
}

.SashaInlineHighlight .se,.SashaBlockHighlight .se {
	color: #87ceeb;
}

.SashaInlineHighlight .sh,.SashaBlockHighlight .sh {
	color: #87ceeb;
}

.SashaInlineHighlight .s1,.SashaBlockHighlight .s1 {
	color: #87ceeb;
}
