/*
* @Author: Kristinita
* @Date:   2016-12-27 08:08:41
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:28:17
*/


/* Unverified For PurifyCSS
   ========================================================================== */

body {
    background: #000;
    color: #ff8c00;
}

a {
    color: #ee82ee;
}

a:hover {
    background-color: #eee8aa;
}

a:focus {
    background: #f0fff0;
}

em {
    background-image: linear-gradient(to right, #f08080, #c71585);
    -webkit-background-clip: text;
    color: transparent;
}

img {
    box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
    box-shadow: none;
}

kbd {
    color: #ffdead;
    background: #d2691e;
}

.SashaBottomAside {
    color: #fff;
    bottom: 14%;
}

blockquote {
    border-left: solid #ff5a00 0.5rem;
    color: #333;
    background: #fcfcfc;
}

code {
    background-color: #2f4f4f;
}

pre >code {
    background-color: Sasha-Multiline-Code;
}

::-moz-selection {
    color: #f08080;
    background: #ffe4b5;
}

::selection {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

::-moz-selection:window-inactive {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

::selection:window-inactive {
    color: #f08080;
    background: rgba(255, 228, 181, 0.99);
}

.SashaEmNoColor {
    color: #ff8c00;
}

.tooltipster-punk-purple .tooltipster-box {
    border-bottom: 3px solid #ffa500;
    background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
    border-bottom: 3px solid #ff69b4;
    background: #228b22;
}

.SashaBlockHighlight {
    background-color: #5e3b47;
    color: #fff;
}

.SashaBlockHighlight .c {
    background-color: #0f140f;
    font-style: italic;
    color: #008000;
}

.SashaBlockHighlight .g {
    color: #fff;
}

.SashaBlockHighlight .k {
    color: #fb660a;
    font-weight: bold;
}

.SashaBlockHighlight .l {
    color: #fff;
}

.SashaBlockHighlight .o {
    color: #fff;
}

.SashaBlockHighlight .x {
    color: #fff;
}

.SashaBlockHighlight .p {
    color: #f4a460;
}

.SashaBlockHighlight .c1 {
    color: #008000;
    background-color: #0f140f;
    font-style: italic;
}

.SashaBlockHighlight .gh {
    color: #fff;
    font-weight: bold;
}

.SashaBlockHighlight .m {
    color: #0086f7;
    font-weight: bold;
}

.SashaBlockHighlight .s {
    color: #87ceeb;
}

.SashaBlockHighlight .na {
    color: #ff0086;
    font-weight: bold;
}

.SashaBlockHighlight .nb {
    color: #fff;
}

.SashaBlockHighlight .no {
    color: #87ceeb;
}

.SashaBlockHighlight .ne {
    color: #fff;
}

.SashaBlockHighlight .nl {
    color: #fff;
}

.SashaBlockHighlight .nv {
    color: #fb660a;
}

.SashaBlockHighlight .w {
    color: #888;
}

.SashaBlockHighlight .s2 {
    color: #87ceeb;
}

.SashaBlockHighlight .se {
    color: #87ceeb;
}

.SashaBlockHighlight .sh {
    color: #87ceeb;
}

.SashaBlockHighlight .s1 {
    color: #87ceeb;
}