/*
 * @Author: Kristinita
 * @Date:   2016-12-27 08:08:41
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-05-09 15:28:17
 */

/* Unverified For PurifyCSS
	========================================================================== */

body {
	background: #000;
	color: #ff8c00;
}

a {
	color: #ee82ee;
}

a:hover {
	background-color: rgba(221,160,221,0.6);
}

a:focus {
	background: #f0fff0;
}

em {
	color: #ff69b4;
}

img {
	box-shadow: 0 0 2rem #000;
}

.SashaPageLoading {
	box-shadow: none;
}

kbd {
	color: #ffdead;
	background: #d2691e;
}

td,th {
	border: 0.0625rem solid #ff8c00;
}

.SashaBottomAside {
	color: #fff;
	bottom: 14%;
}

blockquote {
	border-left: solid #ff5a00 0.5rem;
	color: #333;
	background: #fcfcfc;
}

code {
	background-color: #2f4f4f;
}

pre >code {
	background-color: #000;
}

::-moz-selection {
	color: rgba(240,128,128,0.467);
	background: rgba(255,228,181,0.99);
}

::selection {
	color: rgba(240,128,128,0.467);
	background: rgba(255,228,181,0.99);
}

/* csslint ignore:start */

div .a2a_floating_style,div .a2a_default_style {
	background-color: #ffa500;
}

/* csslint ignore:end */

/* csslint ignore:start */

div.animate-flicker span {
	color: #c0c0c0;
}

div.ivu-modal-body div.ivu-tabs-tabpane div.wf-meta,div.ivu-modal-body .ivu-btn.ivu-btn-text.ivu-btn-small,div.ivu-modal-body div.wf-buttons .ivu-btn.ivu-btn-text {
	color: #a52a2a;
}

div.wf.wf-theme-dark .ivu-input::-moz-placeholder {
	color: #c0c0c0;
}

div.wf.wf-theme-dark .ivu-input::-ms-input-placeholder {
	color: #c0c0c0;
}

div.wf.wf-theme-dark :not(.v-transfer-dom) a,div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,div.wf.wf-theme-dark .ivu-btn-primary[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled],div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,div.wf.wf-theme-dark .ivu-btn-text,div.wf.wf-theme-dark .ivu-btn-text:hover,div.wf.wf-theme-dark .ivu-input::placeholder,div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,div.wf.wf-theme-dark .ivu-menu-item-selected span,div.wf.wf-theme-dark a.wf-use-wildfire span,div.wf.wf-theme-dark a.wf-use-wildfire:hover span,div.wf.wf-theme-dark .wf-separator,div.wf.wf-theme-dark .wf-no-content-tip,div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,div.wf.wf-theme-dark .wf-comment-content,div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,div.wf.wf-theme-dark .ivu-menu {
	color: #c0c0c0;
}

div.wf.wf-theme-dark .wf-use-wildfire svg path,div.wf.wf-theme-dark .wf-use-wildfire:hover svg path {
	fill: #c0c0c0;
}

div.wf.wf-theme-dark .ivu-menu-horizontal.ivu-menu-light::after {
	background-color: #c0c0c0;
}

div.wf.wf-theme-dark > footer {
	border-top-color: #c0c0c0;
}

div.wf.wf-theme-dark input.ivu-input::-moz-placeholder {
	color: #696969;
}

div.wf.wf-theme-dark input.ivu-input::-ms-input-placeholder {
	color: #696969;
}

div.wf.wf-theme-dark input.ivu-input::placeholder {
	color: #696969;
}

div.wf.wf-theme-dark .ivu-icon-heart-broken {
	color: #ee82ee;
}

div.wf.wf-theme-dark .ivu-icon-heart {
	color: #dc143c;
}

div.wf.wf-theme-dark .ivu-btn-primary[disabled],div.wf.wf-theme-dark .wf-post-btn[disabled]:hover {
	background-color: rgba(255,255,255,0.2);
}

div.wf.wf-theme-dark .wf-post-btn[disabled],div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,div.wf.wf-theme-dark .ivu-btn-primary[disabled] {
	border-color: #c0c0c0;
}

div.wf.wf-theme-dark .wf-tip {
	font-size: 0.7rem;
}

/* csslint ignore:end */

.tooltipster-punk-purple .tooltipster-box {
	border-bottom: 0.1875rem solid #ffa500;
	background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
	border-bottom: 0.1875rem solid #ff69b4;
	background: #228b22;
}

.SashaBlockHighlight {
	background-color: #5e3b47;
	color: #fff;
}

.SashaBlockHighlight .c {
	background-color: #0f140f;
	font-style: italic;
	color: #008000;
}

.SashaBlockHighlight .g {
	color: #fff;
}

.SashaBlockHighlight .k {
	color: #fb660a;
	font-weight: bold;
}

.SashaBlockHighlight .l {
	color: #fff;
}

.SashaBlockHighlight .o {
	color: #fff;
}

.SashaBlockHighlight .x {
	color: #fff;
}

.SashaBlockHighlight .p {
	color: #f4a460;
}

.SashaBlockHighlight .c1 {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}

.SashaBlockHighlight .gh {
	color: #fff;
	font-weight: bold;
}

.SashaBlockHighlight .ld {
	color: #fff;
}

.SashaBlockHighlight .m {
	color: #0086f7;
	font-weight: bold;
}

.SashaBlockHighlight .s {
	color: #87ceeb;
}

.SashaBlockHighlight .na {
	color: #ff0086;
	font-weight: bold;
}

.SashaBlockHighlight .nb {
	color: #fff;
}

.SashaBlockHighlight .no {
	color: #87ceeb;
}

.SashaBlockHighlight .ne {
	color: #fff;
}

.SashaBlockHighlight .nl {
	color: #fff;
}

.SashaBlockHighlight .py {
	color: #fff;
}

.SashaBlockHighlight .nv {
	color: #fb660a;
}

.SashaBlockHighlight .w {
	color: #888;
}

.SashaBlockHighlight .s2 {
	color: #87ceeb;
}

.SashaBlockHighlight .se {
	color: #87ceeb;
}

.SashaBlockHighlight .sh {
	color: #87ceeb;
}

.SashaBlockHighlight .s1 {
	color: #87ceeb;
}
