/* Wildfire comments themes scaffolding:
https://wildfire.js.org
[WARNING] Modifying textarea resizer doesn't support in Firefox and Edge:
https://css-tricks.com/tricky-textarea-pulltab/
https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar#-webkit-resizer */
div.animate-flicker span {
	color: Sasha-Wildfire-Foreground;
}
div.ivu-modal-body div.ivu-tabs-tabpane div.wf-meta,
div.ivu-modal-body .ivu-btn.ivu-btn-text.ivu-btn-small,
div.ivu-modal-body div.wf-buttons .ivu-btn.ivu-btn-text {
	color: #a52a2a;
}
div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,
div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,
div.wf.wf-theme-dark .ivu-input::-ms-input-placeholder,
div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,
div.wf.wf-theme-dark a.wf-use-wildfire span,
div.wf.wf-theme-dark a.wf-use-wildfire:hover span,
div.wf.wf-theme-dark .ivu-btn-text,
div.wf.wf-theme-dark .ivu-btn-text:hover,
div.wf.wf-theme-dark .wf-separator,
div.wf.wf-theme-dark .wf-no-content-tip,
div.wf.wf-theme-dark :not(.v-transfer-dom) a,
div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,
div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,
div.wf.wf-theme-dark .ivu-menu-item-selected span,
div.wf.wf-theme-dark .ivu-input-wrapper textarea.ivu-input,
div.wf.wf-theme-dark .wf-comment-content,
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text {
	color: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark .wf-comment-header .wf-content .wf-meta,
div.wf.wf-theme-dark .wf-comment-item .wf-comment-header,
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled],
div.wf.wf-theme-dark .ivu-btn-text[disabled]:hover,
div.wf.wf-theme-dark .ivu-input::placeholder,
div.wf.wf-theme-dark .wf-comment-body .wf-comment-footer a,
div.wf.wf-theme-dark a.wf-use-wildfire span,
div.wf.wf-theme-dark a.wf-use-wildfire:hover span,
div.wf.wf-theme-dark .ivu-btn-text,
div.wf.wf-theme-dark .ivu-btn-text:hover,
div.wf.wf-theme-dark .wf-separator,
div.wf.wf-theme-dark .wf-no-content-tip,
div.wf.wf-theme-dark :not(.v-transfer-dom) a,
div.wf.wf-theme-dark :not(.v-transfer-dom) a:hover,
div.wf.wf-theme-dark .ivu-menu-submenu-title-icon,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at,
div.wf.wf-theme-dark .ivu-icon.ivu-icon-at.wf-inactive,
div.wf.wf-theme-dark .ivu-menu-item-selected span,
div.wf.wf-theme-dark .ivu-input-wrapper textarea.ivu-input,
div.wf.wf-theme-dark .wf-comment-content,
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .wf-delete-btn.ivu-btn.ivu-btn-text {
	color: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark .wf-use-wildfire svg path,
div.wf.wf-theme-dark .wf-use-wildfire:hover svg path {
	fill: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark .ivu-menu-horizontal.ivu-menu-light::after {
	background-color: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark > footer {
	border-top-color: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
div.wf.wf-theme-dark .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active:hover {
	border-bottom-color: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark input.ivu-input::-ms-input-placeholder {
	color: #696969;
}
div.wf.wf-theme-dark input.ivu-input::placeholder {
	color: #696969;
}
div.wf.wf-theme-dark .ivu-icon-heart-broken {
	color: Sasha-Wildfire-Broken-Heart;
}
div.wf.wf-theme-dark .ivu-icon-heart {
	color: Sasha-Wildfire-Heart;
}
div.wf.wf-theme-dark .ivu-btn-primary[disabled],
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover {
	background-color: Sasha-Wildfire-Button-Background;
}
div.wf.wf-theme-dark .wf-post-btn[disabled],
div.wf.wf-theme-dark .wf-post-btn[disabled]:hover,
div.wf.wf-theme-dark .ivu-btn-primary[disabled] {
	border-color: Sasha-Wildfire-Foreground;
}
div.wf.wf-theme-dark .wf-tip {
	font-size: 0.7rem;
}
