* { margin:0; padding:0; }

@font-face { font-family: 'PT Sans Narrow'; font-style: normal; font-weight: 400; src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/UyYrYy3ltEffJV9QueSi4S4mX3cpNo8MnLri8k21-rs.woff) format('woff'); }
@font-face { font-family: 'PT Sans Narrow'; font-style: normal; font-weight: 700; src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/Q_pTky3Sc3ubRibGToTAYigwe3ZcNEyK1ut-Sjba9Qg.woff) format('woff'); }

html { background:url(https://pp.vk.me/c636420/v636420728/7693/xb7OayOxxMA.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
body { font-family: 'PT Sans Narrow', Georgia, serif; color:#fff; }

.bl-center { text-align:center; }
.background { position:absolute;z-index:-1;height:100%;width:100%;top:0px;left:0px;}

a { text-decoration:none; color:#666; padding-bottom:2px; }
a:hover { text-decoration: underline;  }
h1 { color:#fff; font-size:2em; margin:10px 0; text-align:center; }

#logo { width:1000px; margin:0px auto; text-align:center; }
#global-block { width:1000px; margin:0px auto; text-align:center; overflow:hidden; padding:20px; position:relative; }
#head-block { width:1000px; margin:0px auto; text-align:center; position:relative; font-size:10px; }

.article-timer { width:1000px; margin:0px auto; text-align:center; }
.article-other { width:1000px; margin:0px auto; text-align:center; }
.footer-block{ width:1000px; margin:0px auto; text-align:center; }
.post_images img { width:450px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;	}
.yandexmoney-block { margin:0px auto; text-align:center; }

.box { display: inline-block; position: relative; -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1); -moz-box-shadow:0px 0px 10px rgba(50, 50, 50, 1); box-shadow:0px 0px 10px rgba(50, 50, 50, 1);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:#eee;margin:5px; border: 1px dotted rgba(0, 0, 0, 0.3); }
.box-title { display: block;background: rgb(222, 229, 235);width: 100%;color:#666;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px; }
.box-content{ text-align:left;padding:5px; margin:5px;color:#666; }

.div_Table{ display:table;border-spacing:5px; }
.div_Row{ display:table-row; }
.div_Cell{ float:left;display:table-column; }

dl { position:relative; height:80px; margin:20px auto 50px; width:810px; height:150px; background:url(http://kristinita.ru/other_images/NastyaSquare.png) repeat-x; font-size:1.6em; color:#3C100C; }
dt { position:absolute; top:10px; left:0; width:135px; text-align:center; padding-top:15px; }
dd {  position:absolute; top:50px; left:0; font-size:2.2em; text-align:center; width:135px; }
dt#years_lbl, dd#years { left:0; }
dt#months_lbl, dd#months { left:135px; }
dt#days_lbl, dd#days { left:270px; }
dt#hrs_lbl, dd#hours { left:405px;  }
dt#mins_lbl, dd#minutes { left:540px; }
dt#secs_lbl, dd#seconds { left:675px; }
#dl * { text-outline: 1px 1px #000; }
