.tooltipster-punk-purple .tooltipster-box {
	border-bottom: 0.1875rem solid #ffa500;
	background: #800080;
}
.tooltipster-punk-aquamarine .tooltipster-box {
	border-bottom: 0.1875rem solid #ff69b4;
	background: #228b22;
}
