.tooltipster-punk-purple .tooltipster-box {
    border-bottom: 3px solid #ffa500;
    background: #800080;
}

.tooltipster-punk-aquamarine .tooltipster-box {
    border-bottom: 3px solid #ff69b4;
    background: #228b22;
}