/* ==========================================================================
	General
	========================================================================== */


/* ==========================================================================
	Mailhu
	========================================================================== */


/* Don't use Malihu, plugin have bugs */


/* See https://github.com/malihu/malihu-custom-scrollbar-plugin/issues/501#issuecomment-275629140 */


/*.mCustomScrollbar .mCSB_scrollTools {
	left: auto;
}

.mCustomScrollbar .mCSB_inside > .mCSB_container {
	margin-left: 0;
}*/


/* ==========================================================================
	Media
	========================================================================== */


/* Landscape */

@media screen and (orientation: landscape) {
	.SashaMargin {
		margin-right: 2rem;
		margin-left: 1rem;
	}
	main {
		float: right;
	}
}


/* Portrait */

@media screen and (orientation: portrait) {
	.SashaMargin {
		margin-right: 2rem;
		margin-left: 1rem;
	}
}
