.arrow {
	position: relative;
	width: 5rem;
	height: 0.3125rem;
	background: #b0c4de;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.arrow:after {
	position: absolute;
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -0.625rem;
	right: 0;
	width: 1.25rem;
	height: 1.25rem;
	background: transparent;
	border-right: 0.3125rem solid #b0c4de;
	border-top: 0.3125rem solid #b0c4de;
}
.SashaBig {
	font-size: 1.3rem;
	font-weight: bold;
}
.SashaBox {
	background-color: #e6e6fa;
}
.SashaBorderValerywork {
	border-color: #e20026;
	border: 0.125rem;
}
.SashaBorderKiravel {
	border-color: #f64a82;
	border: 0.125rem;
}
.SashaBorderStrelena {
	border-color: #cce821;
	border: 0.125rem;
}
