body {
	color: darkorange;
	background: black;
}

a {
	color: violet;
	/* Цвет ссылок */
}

a:visited {
	color: pink;
	/* Цвет посещенных ссылок */
}

a:active {
	color: pink;
	/* Цвет активных ссылок */
}
.cover-text {
		color: white;
		bottom: 20%;
		left: 20%
	}
	h2 {
		color: tomato;
	}

	/* Заголовки синего цвета */
	SashaBlue {
		color: lightskyblue;
	}

	/* Заголовки оранжевого цвета */
	.SashaHeading {
		color: darkorange;
	}
	blockquote {
		border-left: solid #ff5a00 5px;
		color: #333;
		background: #fcfcfc;
	}
