/*
* @Author: Kristinita
* @Date:   2016-11-25 10:51:23
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-01-07 18:52:32
*/

body
{
    margin: 0;
    padding-right: 0;
}

a
{
    text-decoration: none;
}

html
{
    overflow-x: hidden;
}
@media screen and (max-width: 1600px)
{
    div.for-example
    {
        width: 1500px;
    }
}

@media screen and (max-width: 1280px)
{
    div.for-example
    {
        width: 1100px;
    }
}

@media screen and (max-width: 1024px)
{
    div.for-example
    {
        width: 980px;
    }
}

body
{
    color: mediumvioletred;
    background: url('../backgrounds/Бэкграунд_Красные_листья.jpg') no-repeat center center fixed;
    background-color: papayawhip;
    background-size: cover;
}

img
{
    max-width: 100%;
}


/* Кнопки */

.Sasha
{
    font: 27px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    float: right;

    padding: 11px 32px;

    text-align: center;
    text-decoration: none;

    color: #ff8c00;
    border: solid 4px #ffb6c1;
    border-radius: 14px;
    background-color: #ffe4e1;
    background-image: -webkit-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-image:     -ms-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-image:         linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#ffc0cb', GradientType=0);
}

.Sasha:hover
{
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    padding: 11px 32px;

    color: #ff8c00;
    border: solid 4px #ffb6c1;
    border-radius: 14px;
    background-color: #ffe4e1;
    background-image: -webkit-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-image:     -ms-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-image:         linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-position: 0 -32px;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#ffc0cb', GradientType=0);
}

.Sasha:active
{
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    padding: 11px 32px;

    color: #ee82ee;
    border: solid 4px #ffb6c1;
    border-radius: 14px;
    background-color: #ffe4e1;
    background-image: -webkit-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-image:     -ms-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-image:         linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
    background-position: 0 -64px;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#ffc0cb', GradientType=0);
}

.Chernykh
{
    font: 27px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    float: right;

    padding: 11px 32px;

    text-align: center;
    text-decoration: none;

    color: #ff8c00;
    border: solid 4px #ffe4c4;
    border-radius: 14px;
    background-color: #fdf5e6;
    background-image: -webkit-linear-gradient(top, #fdf5e6 0%, #ffdead 100%);
    background-image:     -ms-linear-gradient(top, #fdf5e6 0%, #ffdead 100%);
    background-image: -webkit-linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
    background-image:         linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#f0f8ff', GradientType=0);
}

.Chernykh:hover
{
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    padding: 11px 32px;

    color: #ff8c00;
    border: solid 4px #ffe4c4;
    border-radius: 14px;
    background-color: #f5fffa;
    background-image: -webkit-linear-gradient(top, #fdf5e6 0%, #ffdead 100%);
    background-image:     -ms-linear-gradient(top, #fdf5e6 0%, #ffdead 100%);
    background-image: -webkit-linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
    background-image:         linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#f0f8ff', GradientType=0);
}

.Chernykh:active
{
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    padding: 11px 32px;

    color: #add8e6;
    border: solid 4px #ffe4c4;
    border-radius: 14px;
    background-color: #f5fffa;
    background-image: -webkit-linear-gradient(top, #fdf5e6 0%, #ffdead 100%);
    background-image:     -ms-linear-gradient(top, #fdf5e6 0%, #ffdead 100%);
    background-image: -webkit-linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
    background-image:         linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#f0f8ff', GradientType=0);
}

.Empress
{
    font: 27px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    float: right;

    padding: 11px 32px;

    text-align: center;
    text-decoration: none;

    color: #ff8c00;
    border: solid 4px #ba55d8;
    border-radius: 14px;
    background-color: #dda0dd;
    background-image: -webkit-linear-gradient(top, #ee82ee 0%, #ba55d3 100%);
    background-image:     -ms-linear-gradient(top, #ee82ee 0%, #ba55d3 100%);
    background-image: -webkit-linear-gradient(top, #ee82ee 0%, #da70d6 100%);
    background-image:         linear-gradient(top, #ee82ee 0%, #da70d6 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da70d6', endColorstr='#da70d6', GradientType=0);
}

.Empress:hover
{
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    padding: 11px 32px;

    color: #ff8c00;
    border: solid 4px #ba55d8;
    border-radius: 14px;
    background-color: #ee82ee;
    background-image: -webkit-linear-gradient(top, #ee82ee 0%, #ba55d3 100%);
    background-image:     -ms-linear-gradient(top, #ee82ee 0%, #ba55d3 100%);
    background-image: -webkit-linear-gradient(top, #ee82ee 0%, #da70d6 100%);
    background-image:         linear-gradient(top, #ee82ee 0%, #da70d6 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da70d6', endColorstr='#da70d6', GradientType=0);
}

.Empress:active
{
    font: 36px Tahoma, Geneva, sans-serif;
    font-weight: bold;

    padding: 11px 32px;

    color: #ffc0cb;
    border: solid 4px #ba55d8;
    border-radius: 14px;
    background-color: #ee82ee;
    background-image: -webkit-linear-gradient(top, #ee82ee 0%, #ba55d3 100%);
    background-image:     -ms-linear-gradient(top, #ee82ee 0%, #ba55d3 100%);
    background-image: -webkit-linear-gradient(top, #ee82ee 0%, #da70d6 100%);
    background-image:         linear-gradient(top, #ee82ee 0%, #da70d6 100%);
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da70d6', endColorstr='#da70d6', GradientType=0);
}

.SashaMotto
{
    font-family: 'Cormorant';
    font-size: 40px;

    color: #7fff00;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 40px #7fff00, 0 0 0 #7fff00, 0 0 0 #7fff00, 0 0 0 #7fff00;
}

.SashaMotto:hover
{
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ffefd5, 0 0 70px #ffefd5, 0 0 80px #ffefd5, 0 0 100px #ffefd5;
}

/* Подвал в head */

.SashaFooter
{
    position: relative;
    float: left;
    text-align: left;
    bottom: 0;
    /* Фиксированное положение */
    left: 0;
    /* Цвет текста */

    width: 100%;
    /* Левый нижний угол */
    padding: 14px;
    /* Поля вокруг текста */

    /* Ширина слоя */
    font-size: 1.2rem;
    font-weight: bold;
    color: paleturquoise;
}

#SashaBowserExplorer, #SashaBowserFirefox
{
    position: relative;
    float: left;
    text-align: left;
    vertical-align: 6em;
    bottom: 0;
    /* Фиксированное положение */
    right: 0;
    /* Цвет текста */

    width: 100%;
    /* Левый нижний угол */
    padding: 14px;
    /* Поля вокруг текста */

    color: orange;
    /* Ширина слоя */
    font-size: 1.2rem;
    font-weight: bold;
    color: paleturquoise;
}
/* Выравнивание по центру*/

.SashaCenter
{
    text-align: center;
}
/* Отступ от нижнего элемента, чтобы заменить множество br, см. http://ru.stackoverflow.com/a/523379/199934 */
#SashaBr {
	margin: 21rem 0 0 0;
}

/* Надпись Поиск Кристиниты*/

.SashaKristinita
{
    font-size: 3em;
    font-style: italic;

    letter-spacing: 2px;

    color: darkorange;
    text-shadow: 0 1px 0 #ffa500, 0 2px 0 #ffa500, 0 3px 0 #ffd700, 0 4px 0 #ffae42, 0 5px 0 #ffefd5, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}


/* Надпись beta */

.SashaBeta
{
    font-size: 2.5em;
    font-style: italic;

    color: darkorange;
}


/* Надпись «Минималистская версия*/

.SashaMinimal
{
    font-family: 'Palatino Linotype, Geneva, sans-serif';
    font-style: italic;

    color: #ffbf00;
}


/* Надпись копирайта */

.SashaCopyright
{
    font-family: 'Palatino Linotype, Geneva, sans-serif';

    color: gold;
}


/*Ссылка на Божий профиль ВКонтакте*/

.SashaVKontakte
{
    color: gold;
}


/*Сашин логотип*/

.SashaLogo
{
    text-align: left;
}
