	    article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	nav,
	section,
	audio,
	* {
	    font-family: "Book Antiqua";
	    font-size: 19px;
	    margin: 0;
	    padding: 0;
	}

	body {
	    width: 100%;
	    height: 100%;
	    font-weight: 300;
	}

	html {
	    -ms-text-size-adjust: 100%;
	    -webkit-text-size-adjust: 100%;
	    overflow-x: hidden;
	}

	b {
	    font-weight: bold;
	}

	ol {
	    list-style-position: inside;
	    /* Чтобы маркеры списка не пропадали на мобильных версиях */
	}

	ul {
	    list-style-position: inside;
	    /* Чтобы маркеры списка не пропадали на мобильных версиях */
	}

	h1 {
	    font-family: Tahoma;
	    font-size: 3em;
	}

	h1.SashaHeader {
	    line-height: 0.7em;
	    /* Интерлиньяж в заголовке */
	}

	time {
	    font-size: 0.9em;
	    font-weight: bold;
	}

	img {
	    max-width: 100%
	}

	img.leftimg {
	    float: left;
	    /* Картинка слева */
	    margin: 5px 5px 5px 0;
	    /* Расстояние между картинкой и текстом */
	}

	img.rightimg {
	    float: right;
	    /* Картинка справа */
	    margin: 5px 0 5px 5px;
	    /* Расстояние между картинкой и текстом */
	}

	SashaVersion {
	    font-size: 0.8em;
	    font-weight: bold;
	}

	.sidebar {
	    background-image: url('../../img/bg.svg');
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-attachment: fixed;
	    background-color: #000;
	    font-size: 5px;
	    line-height: 1;
	    display: none;
	    float: right;
	}

	.cover {
	    text-align: center;
	    position: relative;
	}

	.sidebar,
	.cover {
	    width: 100%;
	    height: 100vh;
	}

	ul li {
		margin-left: 1em;
	}
	/*Отступ от левого края элементов вложенного списка*/

	    img.Sasha470 {
        width: 470px;
    }

    img.Sasha700 {
        width: 700px;
    }

	@media screen and (min-width: 1px) {
	    .sidebar {
	        display: block
	    }
	}

	@media screen and (min-width: 640px) {
	    .nav-main {
	        text-align: center
	    }
	    .nav-main a:not(.blog-logo) {
	        display: block
	    }
	    .nav-main .blog-logo {
	        width: auto
	    }
	    .sidebar {
	        display: block
	    }
	    @media screen and (max-width: 960px) {
	        .nav-main a {
	            font-size: .875em
	        }
	    }
	    @media screen and (min-width: 960px) {
	        #switcher {
	            display: block
	        }
	        .main-header {
	            position: static
	        }
	        .nav-main {
	            padding: 0;
	            text-align: left
	        }
	        .nav-main a {
	            font-size: .8125em;
	            display: block;
	            padding-right: 2em;
	            margin: 0
	        }
	        .sidebar {
	            width: 35%;
	            height: 100%;
	            position: fixed;
	            right: 0;
	            top: 0;
	            background-attachment: scroll;
	            z-index: 200;
	            display: block
	        }
	        .content-wrapper {
	            width: 55%;
	            max-width: 1000px;
	            margin-left: 5%
	        }
	        main {
	            padding-top: 1em
	        }
	        article {
	            padding: .5em
	        }
	        article h2:first-of-type {
	            margin-top: 0
	        }
	        footer[role="contentinfo"] {
	            margin-left: 35%;
	            width: 55%;
	            max-width: 1000px
	        }
	    }
	    .Sasha {
	        text-decoration: none;
	        text-align: center;
	        float: right;
	        padding: 11px 32px;
	        border: solid 4px #ffb6c1;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 27px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ff8c00;
	        background-color: #ffe4e1;
	        background-image: -moz-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -webkit-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -o-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -ms-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#ffc0cb', GradientType=0);
	        background-image: linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Sasha:hover {
	        padding: 11px 32px;
	        border: solid 4px #ffb6c1;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 36px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ff8c00;
	        background-color: #ffe4e1;
	        background-image: -moz-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -webkit-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -o-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -ms-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#ffc0cb', GradientType=0);
	        background-image: linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Sasha:active {
	        padding: 11px 32px;
	        border: solid 4px #ffb6c1;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 36px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #EE82EE;
	        background-color: #ffe4e1;
	        background-image: -moz-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -webkit-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -o-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        background-image: -ms-linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#ffc0cb', GradientType=0);
	        background-image: linear-gradient(top, #ffe4e1 0%, #ffc0cb 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Chernykh {
	        text-decoration: none;
	        text-align: center;
	        float: right;
	        padding: 11px 32px;
	        border: solid 4px #FFE4C4;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 27px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ff8c00;
	        background-color: #FDF5E6;
	        background-image: -moz-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -webkit-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -o-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -ms-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#f0f8ff', GradientType=0);
	        background-image: linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Chernykh:hover {
	        padding: 11px 32px;
	        border: solid 4px #FFE4C4;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 36px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ff8c00;
	        background-color: #f5fffa;
	        background-image: -moz-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -webkit-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -o-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -ms-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#f0f8ff', GradientType=0);
	        background-image: linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Chernykh:active {
	        padding: 11px 32px;
	        border: solid 4px #FFE4C4;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 36px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ADD8E6;
	        background-color: #f5fffa;
	        background-image: -moz-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -webkit-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -o-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        background-image: -ms-linear-gradient(top, #FDF5E6 0%, #FFDEAD 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#f0f8ff', GradientType=0);
	        background-image: linear-gradient(top, #f5fffa 0%, #f0f8ff 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Empress {
	        text-decoration: none;
	        text-align: center;
	        float: right;
	        padding: 11px 32px;
	        border: solid 4px #ba55d8;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 27px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ff8c00;
	        background-color: #DDA0DD;
	        background-image: -moz-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -webkit-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -o-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -ms-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da70d6', endColorstr='#da70d6', GradientType=0);
	        background-image: linear-gradient(top, #ee82ee 0%, #da70d6 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Empress:hover {
	        padding: 11px 32px;
	        border: solid 4px #ba55d8;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 36px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ff8c00;
	        background-color: #ee82ee;
	        background-image: -moz-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -webkit-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -o-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -ms-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da70d6', endColorstr='#da70d6', GradientType=0);
	        background-image: linear-gradient(top, #ee82ee 0%, #da70d6 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
	    .Empress:active {
	        padding: 11px 32px;
	        border: solid 4px #ba55d8;
	        -webkit-border-radius: 14px;
	        -moz-border-radius: 14px;
	        border-radius: 14px;
	        font: 36px Tahoma, Geneva, sans-serif;
	        font-weight: bold;
	        color: #ffc0cb;
	        background-color: #ee82ee;
	        background-image: -moz-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -webkit-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -o-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        background-image: -ms-linear-gradient(top, #ee82ee 0%, #BA55D3 100%);
	        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da70d6', endColorstr='#da70d6', GradientType=0);
	        background-image: linear-gradient(top, #ee82ee 0%, #da70d6 100%);
	        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	    }
