.SashaInlineHighlight,
.SashaBlockHighlight {
	background-color: #5e3b47;
	color: #fff;
}
.SashaInlineHighlight .c,
.SashaBlockHighlight .c {
	background-color: #0f140f;
	font-style: italic;
	color: #008000;
}
.SashaInlineHighlight .err,
.SashaBlockHighlight .err {
	color: #fff;
}
.SashaInlineHighlight .esc,
.SashaBlockHighlight .esc {
	color: #fff;
}
.SashaInlineHighlight .hll,
.SashaBlockHighlight .hll {
	background-color: #333;
}
.SashaInlineHighlight .g,
.SashaBlockHighlight .g {
	color: #fff;
}
.SashaInlineHighlight .k,
.SashaBlockHighlight .k {
	color: #fb660a;
	font-weight: bold;
}
.SashaInlineHighlight .l,
.SashaBlockHighlight .l {
	color: #fff;
}
.SashaInlineHighlight .n,
.SashaBlockHighlight .n {
	color: #fff;
}
.SashaInlineHighlight .o,
.SashaBlockHighlight .o {
	color: #fff;
}
.SashaInlineHighlight .x,
.SashaBlockHighlight .x {
	color: #fff;
}
.SashaInlineHighlight .p,
.SashaBlockHighlight .p {
	color: #f4a460;
}
.SashaInlineHighlight .ch,
.SashaBlockHighlight .ch {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}
.SashaInlineHighlight .cm,
.SashaBlockHighlight .cm {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}
.SashaInlineHighlight .cp,
.SashaBlockHighlight .cp {
	color: #ff0007;
	background-color: #0f140f;
	font-weight: bold;
}
.SashaInlineHighlight .cpf,
.SashaBlockHighlight .cpf {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
	font-weight: bold;
}
.SashaInlineHighlight .c1,
.SashaBlockHighlight .c1 {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}
.SashaInlineHighlight .cs,
.SashaBlockHighlight .cs {
	color: #008000;
	background-color: #0f140f;
	font-style: italic;
}
.SashaInlineHighlight .gd,
.SashaBlockHighlight .gd {
	color: #fff;
}
.SashaInlineHighlight .ge,
.SashaBlockHighlight .ge {
	color: #fff;
}
.SashaInlineHighlight .gr,
.SashaBlockHighlight .gr {
	color: #fff;
}
.SashaInlineHighlight .gh,
.SashaBlockHighlight .gh {
	color: #fff;
	font-weight: bold;
}
.SashaInlineHighlight .gi,
.SashaBlockHighlight .gi {
	color: #fff;
}
.SashaInlineHighlight .go,
.SashaBlockHighlight .go {
	color: #444;
	background-color: #222;
}
.SashaInlineHighlight .gp,
.SashaBlockHighlight .gp {
	color: #dc143c;
}
.SashaInlineHighlight .gs,
.SashaBlockHighlight .gs {
	color: #fff;
}
.SashaInlineHighlight .gu,
.SashaBlockHighlight .gu {
	color: #fff;
	font-weight: bold;
}
.SashaInlineHighlight .gt,
.SashaBlockHighlight .gt {
	color: #fff;
}
.SashaInlineHighlight .kc,
.SashaBlockHighlight .kc {
	color: #fb660a;
	font-weight: bold;
}
.SashaInlineHighlight .kd,
.SashaBlockHighlight .kd {
	color: #fb660a;
	font-weight: bold;
}
.SashaInlineHighlight .kn,
.SashaBlockHighlight .kn {
	color: #fb660a;
	font-weight: bold;
}
.SashaInlineHighlight .kp,
.SashaBlockHighlight .kp {
	color: #fb660a;
}
.SashaInlineHighlight .kr,
.SashaBlockHighlight .kr {
	color: #fb660a;
	font-weight: bold;
}
.SashaInlineHighlight .kt,
.SashaBlockHighlight .kt {
	color: #cdcaa9;
	font-weight: bold;
}
.SashaInlineHighlight .ld,
.SashaBlockHighlight .ld {
	color: #fff;
}
.SashaInlineHighlight .m,
.SashaBlockHighlight .m {
	color: #0086f7;
	font-weight: bold;
}
.SashaInlineHighlight .s,
.SashaBlockHighlight .s {
	color: #87ceeb;
}
.SashaInlineHighlight .na,
.SashaBlockHighlight .na {
	color: #ff0086;
	font-weight: bold;
}
.SashaInlineHighlight .nb,
.SashaBlockHighlight .nb {
	color: #fff;
}
.SashaInlineHighlight .nc,
.SashaBlockHighlight .nc {
	color: #fff;
}
.SashaInlineHighlight .no,
.SashaBlockHighlight .no {
	color: #87ceeb;
}
.SashaInlineHighlight .nd,
.SashaBlockHighlight .nd {
	color: #fff;
}
.SashaInlineHighlight .ni,
.SashaBlockHighlight .ni {
	color: #fff;
}
.SashaInlineHighlight .ne,
.SashaBlockHighlight .ne {
	color: #fff;
}
.SashaInlineHighlight .nf,
.SashaBlockHighlight .nf {
	color: #ff0086;
	font-weight: bold;
}
.SashaInlineHighlight .nl,
.SashaBlockHighlight .nl {
	color: #fff;
}
.SashaInlineHighlight .nn,
.SashaBlockHighlight .nn {
	color: #fff;
}
.SashaInlineHighlight .nx,
.SashaBlockHighlight .nx {
	color: #fff;
}
.SashaInlineHighlight .py,
.SashaBlockHighlight .py {
	color: #fff;
}
.SashaInlineHighlight .nt,
.SashaBlockHighlight .nt {
	color: #fb660a;
	font-weight: bold;
}
.SashaInlineHighlight .nv,
.SashaBlockHighlight .nv {
	color: #fb660a;
}
.SashaInlineHighlight .ow,
.SashaBlockHighlight .ow {
	color: #fff;
}
.SashaInlineHighlight .w,
.SashaBlockHighlight .w {
	color: #888;
}
.SashaInlineHighlight .mb,
.SashaBlockHighlight .mb {
	color: #0086f7;
	font-weight: bold;
}
.SashaInlineHighlight .mf,
.SashaBlockHighlight .mf {
	color: #0086f7;
	font-weight: bold;
}
.SashaInlineHighlight .mh,
.SashaBlockHighlight .mh {
	color: #0086f7;
	font-weight: bold;
}
.SashaInlineHighlight .mi,
.SashaBlockHighlight .mi {
	color: #0086f7;
	font-weight: bold;
}
.SashaInlineHighlight .mo,
.SashaBlockHighlight .mo {
	color: #0086f7;
	font-weight: bold;
}
.SashaInlineHighlight .sa,
.SashaBlockHighlight .sa {
	color: #87ceeb;
}
.SashaInlineHighlight .sb,
.SashaBlockHighlight .sb {
	color: #87ceeb;
}
.SashaInlineHighlight .sc,
.SashaBlockHighlight .sc {
	color: #87ceeb;
}
.SashaInlineHighlight .dl,
.SashaBlockHighlight .dl {
	color: #87ceeb;
}
.SashaInlineHighlight .sd,
.SashaBlockHighlight .sd {
	color: #87ceeb;
}
.SashaInlineHighlight .s2,
.SashaBlockHighlight .s2 {
	color: #87ceeb;
}
.SashaInlineHighlight .se,
.SashaBlockHighlight .se {
	color: #87ceeb;
}
.SashaInlineHighlight .sh,
.SashaBlockHighlight .sh {
	color: #87ceeb;
}
.SashaInlineHighlight .si,
.SashaBlockHighlight .si {
	color: #87ceeb;
}
.SashaInlineHighlight .sx,
.SashaBlockHighlight .sx {
	color: #87ceeb;
}
.SashaInlineHighlight .sr,
.SashaBlockHighlight .sr {
	color: #87ceeb;
}
.SashaInlineHighlight .s1,
.SashaBlockHighlight .s1 {
	color: #87ceeb;
}
.SashaInlineHighlight .ss,
.SashaBlockHighlight .ss {
	color: #87ceeb;
}
.SashaInlineHighlight .bp,
.SashaBlockHighlight .bp {
	color: #fff;
}
.SashaInlineHighlight .fm,
.SashaBlockHighlight .fm {
	color: #ff0086;
	font-weight: bold;
}
.SashaInlineHighlight .vc,
.SashaBlockHighlight .vc {
	color: #fb660a;
}
.SashaInlineHighlight .vg,
.SashaBlockHighlight .vg {
	color: #fb660a;
}
.SashaInlineHighlight .vi,
.SashaBlockHighlight .vi {
	color: #fb660a;
}
.SashaInlineHighlight .vm,
.SashaBlockHighlight .vm {
	color: #fb660a;
}
.SashaInlineHighlight .il,
.SashaBlockHighlight .il {
	color: #0086f7;
	font-weight: bold;
}
